p {
	margin: 0;
}

a:link {
    text-decoration: underline ;
    color: #4444ff ;
}

a:visited {
	/*text-decoration: none;*/
}

a.button {
	padding: 0 5px;
	text-decoration: none;
}

td.button {
	padding: 0 5px;
	text-decoration: none;
	text-align: center;
}

th.button {
	padding: 0;
	text-decoration: none;
	text-align: center;
}

table.tabbed td {
	padding: 0.2em 0.5em;
	border-radius: 0.4em 0.4em 0 0;		/* radius: lt rt rb lb */
	/*padding: 0px;*/			/* cellpadding="0" */
}

/* temlists */

table.itemlist caption, table.catlist caption {
	text-align: left;
	padding: 0.3em;
	white-space: nowrap;
}

table.itemlist tbody tr td {
	padding: 0 0.3em;
	border-style: dotted;
	border-width: thin;
}

table.itemlist tbody tr a, table.catlist tbody tr a {
	text-decoration: none;
}

.pulldown a {
	text-decoration: none;
}
.addressbar td {
    padding: 2px 6px;
}

.bordered {
	border: 2px solid;
	padding: 0;
	margin: 0
}
