body {
    display: flex;
    flex-direction: column;
}

nav {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
}

nav > h1 {
    flex-grow: 1;
    text-align: center;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
    text-align: left;
}
