{% extends "base.html" %}
{% block jsready %}
$("#tm_about").addClass("active");
{% endblock %}
{% block body_main %}
    <p> Система предназначена для работы с регламенированными документами - создание, изменение, печать. <br/>
Система разработана гибкой, с возможностью лёгкого подключения любого количества шаблонов. <br/>
Поддерживает печать как "мягких" документов (в достаточно свободной форме) - так и "жестких" (для сканирования, текст имеет жесткие координаты). </p>
    <p> Типы поддерживаемых шаблонов: </p>
    <ul>
        <li> HTML </li>
        <li> <a href="https://www.reportlab.com/dev/docs/rml-samples/"> RML </a> </li>
        <li> Формы PDF </li>
        <li> ODT/ODS, DOC/DOCX/XLS/XLSX </li>
        <li> RTF? </li>
    </ul>
    <p> Режимы работы: </p>
        <details> <summary> Демо <em> (без регистрации) </em> </summary> <p> позволяет <em> заполнить </em> шаблон и тут же <em> распечатать </em> итоговый документ. </p> </details>
        <details> <summary> Стандартный <em> (регистрация OpenID) </em> </summary> <p> = Демо + <em> сохранение </em> и <em> редактирование </em> документов. </p> </details>
        <details> <summary> Расширенный </summary> <p> <em> (under construction) </em> </p> </details>
    <hr width="50%" align="left"/>
    <p> Во <u> всех </u> режимах: </p>
    <dl>
        <dt> <p> Справочники общие </p> </dt> <dd> <p> Общероссийские классификаторы, Банки, МИФНС, иное; заполнение форм из этих справочников. </p> </dd>
        <dt> <p> Проверка полей </p> </dt> <dd> <p> Проверка корректности заполнения таких данных, как ИНН, КПП, БИК, иное. </p> </dd>
    </dl>
    <p> В <u> Расширенном </u> режиме: </p>
    <dl>
        <dt> <p> Сохранить как </p> </dt> <dd> <p> Копирование данных документа в новый документ (того же вида) - т.е. дублирование документов. </p> </dd>
        <dt> <p> Заполнить на основании </p> </dt> <dd> <p> Заполнение документа одного вида данными документа <em> другого </em> вида (где это возможно). </p> </dd>
        <dt> <p> Справочники личные </p> </dt> <dd> <p> Организации, Люди, Документы, Адреса; заполнение форм из этих справочников, сохранение данных форм в справочники. </p> </dd>
        <dt> <p> Печать пачки документов </p> </dt> <dd> <p> Печать нескольких сохраненных документов (любого типа) за раз. </p> </dd>
        <dt> <p> Заполнение комплекта документов </p> </dt> <dd> <p> Заполнение комплекта связанных документов в одной форме ввода. </p> </dd>
    </dl>
    <hr width="50%" align="left"/>
    <p> Термины: </p>
    <p> <em> Шаблон </em> (вид документа) - форма ввода данных + шаблон печатной формы (бланк). </p>
    <p> <em> Документ </em> - Шаблон, заполненный данными. </p>
{% endblock %}
