{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title> DoxGen - {% block title %} заполнение бланков {% endblock %} </title>
	<meta name="description" content="{% block meta-description %}Заполнение бланков{% endblock %}">
	<meta name="keywords" content="{% block meta-keywords %}бланк, заполнить, скачать, бесплатно, форма, ПД-4, 21001, 26.2-1{% endblock %}">
    <link type="image/png" rel="shortcut icon" href="{% static 'img/favico.png' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'css/colors.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'css/fieldset.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'css/std.css' %}"/>
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.formset.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.populate.js' %}"></script>
	{% block js %}
	{% endblock %}
	<script type="text/javascript">
		$(document).ready(function () {
			{% block jsready %}
			{% endblock %}
		})
		function populateForm(form, data) {
			$(document.forms['myForm']).populate(json[data]);
		}
	</script>
	<style type="text/css" >
	{% block css %}
	{% endblock %}
	</style>
</head>
<body>
<div id="topmenu">
	<div id="tm_index" class=""> <a href="{% url 'index' %}"> <img src="{% static 'img/16/icon-home.png' %}" alt="Главная" title="Главная"/> </a> </div>
	<div id="tm_tpl" class=""> <a href="{% url 'tpl_list' %}"> <img src="{% static 'img/16/icon-list.png' %}" alt="Шаблоны" title="Шаблоны"/> </a> </div>
	<div style="width: 100%"> <b> DoxGen </b> </div>
	{% if user.is_authenticated %}
		<div> {{ user.username }} : </div>
		<div> <a href="{% url 'logout' %}"> <img src="{% static 'img/16/icon-exit.png' %}" alt="Выход" title="Выход"/> </a> </div>
		{% if user.is_superuser %}
			<div id="tm_admin"> <a href="{% url 'admin:index' %}"> <img src="{% static 'img/16/icon-settingsthree-gears.png' %}" alt="Админка" title="Админка"/> </a> </div>
		{% endif %}
	{% else %}
		<div id="tm_login"> <a href="{% url 'login' %}" rel="nofollow"> <img src="{% static 'img/16/icon-enter.png' %}" alt="Вход" title="Вход"/> </a> </div>
	{% endif %}
	<div id="tm_about"> <a href="{% url 'about' %}"> <img src="{% static 'img/16/icon-info-sign.png' %}" alt="О программе" title="О программе"/> </a> </div>
</div>
	<div>
	{% block body_main %}
		<p> Заглушка </p>
	{% endblock %}
	</div>
</body>
</html>
