{% extends "base.html" %}
{% block jsready %}
{{ block.super }}
$("#tm_log").addClass("active");
{% endblock %}
{% block body_main %}
{% include "paginator.html" %}
<div class="table wide">
	<div class="row center bold">
		<div class="cell"> ID </div>
		<div class="cell"> DateTime </div>
		<div class="cell" title="REQUEST_METHOD"> Method </div>
		<div class="cell" title="REMOTE_ADDR"> Who </div>
		<div class="cell" title="PATH_INFO"> What </div>
		<div class="cell" title="HTTP_USER_AGENT"> How </div>
	</div>
{% for object in object_list %}
	<div class="row {% cycle 'even' 'odd' %}">
		<div class="cell"> <a href="{% url dox.views.log_d object.pk %}"> {{ object.pk }} </a> </div>
		<div class="cell"> {{ object.date|date:"y-m-d H:i:s" }} </div>
		<div class="cell"> {% if object.method %} GET {% else %} POST {% endif %} </div>
		<div class="cell"> {{ object.ip }} </div>
		<div class="cell"> {{ object.path }} </div>
		<div class="cell"> {{ object.agent }} </div>
	</div>
{% endfor %}
</div>
{% endblock %}
