p {
	margin: 0;
}

a:link {
    text-decoration: underline ;
    color: #4444ff ;
}

a:visited {
	/*text-decoration: none;*/
}

.bold{
    font-weight: bold;
}

.button {
	border: outset;
	border-width: 2px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

a.button {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-decoration: none;
}

td.button {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-decoration: none;
	text-align: center;
}

th.button {
	padding: 0px;
	text-decoration: none;
	text-align: center;
}

/*#content {*/
	/*width: 100%;*/
	/*float: left;*/
/*}*/

.pdable:after {
	content: "▿";
}

table.tabbed {
	border-style: none;
	border: 0px;			/* border="0" */
	border-collapse: collapse;	/* cellspacing="0" */
}

table.tabbed td {
	padding: 0.2em 0.5em;
	border-radius: 0.4em 0.4em 0 0;		/* radius: lt rt rb lb */
	/*padding: 0px;*/			/* cellpadding="0" */
}

/* temlists */

table.catitem {
	/*padding: 0;*/
	border-spacing: 0;
}

table.catitem td.catcell {
	vertical-align: top;
	border-top: 2px;
	border-style: solid;
	margin: 0;
	padding: 0;
	border-color: #BBCCFF;		/* FIXME: */
}

table.catitem td.itemcell {
	vertical-align: top;
	border-width: 2px;
	border-style: solid;
	padding: 0;
	margin: 0;
	border-color: #BBCCFF;		/* FIXME: */
}

table.itemlist, table.catlist {
	/*border-style: none;
	border: 0;*/
	border-collapse: collapse;	/* cellspacing="0" */
}

table.itemlist caption, table.catlist caption {
	text-align: left;
	padding: 0.3em;
	white-space: nowrap;
}

/*table.itemlist tbody tr {
	border-style: dotted;
	border-width: thin;
}*/

table.itemlist tbody tr td {
	padding: 0 0.3em;
	border-style: dotted;
	border-width: thin;
}

table.itemlist tbody tr a, table.catlist tbody tr a {
	text-decoration: none;
}

.pulldown {
	padding: 0.5em;
	margin: -2px;
	background: #F0F0F0;
	border: 1px solid #D0D0D0;
	box-shadow: 5px 5px 5px #C0C0C0;
	-webkit-box-shadow: 5px 5px 5px #C0C0C0;
	-moz-box-shadow: 5px 5px 5px #C0C0C0;
}

.pulldown a {
	text-decoration: none;
}
.addressbar td {
    padding: 2px 6px;
}

.bordered {
	border: 2px solid;
	padding: 0;
	margin: 0
}

span.abc {
	border: 1px solid #D0D0D0;
}

span.abc a {
	text-decoration: none;
}

span.abc a.active {
	font-weight: bold;
	text-decoration: underline;
}

.pagination a {
	text-decoration: none;
	border: 1px solid #D0D0D0;
}
