{% extends "about.html" %}
{% block body_main %}
    <p> Система предназначена для заполнения и печати сложных регламентирвоанных документов. </p>
    <p> Отличается гибкостью, с возможностью лёгкого подключения любого количества шаблонов множества популярных форматов. </p>
    <p> Поддерживает печать как "мягких" документов (в достаточно свободной форме) - так и "жестких" (например для сканирования, где текст имеет жесткие координаты). </p>
    <p> Типы поддерживаемых шаблонов:
        HTML,
        <a href="https://www.reportlab.com/dev/docs/rml-samples/"> RML </a>,
        формы PDF,
        документы OpenOffice/LibreOffice (ODT/ODS) и Microsoft Office &trade; (DOC/DOCX/XLS/XLSX).
    </p>
    <p> Режимы работы: </p>
    <details>
        <summary> Демо <em> (без регистрации) </em> </summary>
        <p> Позволяет заполнить шаблон и тут же распечатать итоговый документ. </p>
        <p> Нюансы: </p>
        <ul>
            <li> Предварительный просмотр - только HTML (где они доступны). </li>
            <li> Итоговый документ PDF доступен по ссылке, высылаемой на email. </li>
            <li> Водяные знаки в итоговых документах HTML и PDF.</li>
            <li> Неторопливая реакция. </li>
        </ul>
    </details>
    <details>
        <summary> Стандартный <em> (регистрация OAuth) </em> </summary>
        <ul>
            <li> Просмотр HTML (где они доступны) и PDF сразу после генерации. </li>
            <li> Возможность экспорта и ипорта заполняемых полей шаблонов. </li>
        </ul>
    </details>
    <details> <summary> Расширенный </summary>
        <ul>
            <li> Высылка PDF электропотой. </li>
            <li> Сохранение заполненных шаблонов в самой программе. </li>
        </ul>
    </details>
    <hr style="width:50%; text-align:left"/>
    <p> В планах: </p>
    <dl>
        <dt> <p> Проверка полей </p> </dt> <dd> <p> Проверка корректности заполнения таких данных, как ИНН, КПП, БИК, иное. </p> </dd>
        <dt> <p> Сохранить как </p> </dt> <dd> <p> Копирование данных документа в новый документ (того же вида) - т.е. дублирование документов. </p> </dd>
        <dt> <p> Заполнить на основании </p> </dt> <dd> <p> Заполнение документа одного вида данными документа <em> другого </em> вида (где это возможно). </p> </dd>
        <dt> <p> Справочники личные </p> </dt> <dd> <p> Организации, Люди, Документы, Адреса; заполнение форм из этих справочников, сохранение данных форм в справочники. </p> </dd>
        <dt> <p> Печать пачки документов </p> </dt> <dd> <p> Печать нескольких сохраненных документов (любого типа) за раз. </p> </dd>
        <dt> <p> Заполнение комплекта документов </p> </dt> <dd> <p> Заполнение комплекта связанных документов в одной форме ввода. </p> </dd>
    </dl>
    <hr style="width:50%; text-align:left"/>
    <p> Термины: </p>
    <p> <em> Шаблон </em> (вид документа) - форма ввода данных + шаблон печатной формы (бланк). </p>
    <p> <em> Документ </em> - Шаблон, заполненный данными. </p>
{% endblock %}
