{% extends "base.html" %}
{% load i18n %}
{% block title %} {{ name }} {% endblock %}
{% block meta-description %} {{ comments }} {% endblock %}
{% block css %}
table.formtable {
	border: 1px solid black;
	border-collapse: collapse;
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 12pt;
}
table.formtable tr th {
	border-bottom: 1px solid black;
	text-align: left;
}
table.formtable tr th label {
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 12pt;
	font-weight: normal;
}
table.formtable tr.required th label {
	font-weight: bold;
}
span.helptext {
	font-style: italic;
}
{% endblock %}
{% block body_main %}
	<h1> {{ name }} </h1>
    <p> {{ comments }} </p>
	<p> {% blocktranslate %}
Be careful - mandatory fields emphased with <b> bold </b> font.<br/>
In case of difficulties press any of 'Example' buttons.<br/>
To clean all input fields use 'Reset' button.
{% endblocktranslate %} </p>
	<form id="myForm" action="." method="post">
		{% csrf_token %}
		<!-- formaction=""-->
        {% include "button/view.html" %}
		{% include "button/print.html" %}
        {% if user.is_authenticated %}
		    {% include "button/import.html" %}
		    {% include "button/export.html" %}
        {%  endif %}
		{% include "button/reset.html" %}
		{% if example %}
			{% translate 'Examples' %}:
			{% for e in example %}
				<button type="button" onClick="populateForm('myForm', '{{e.name}}')" title="{{e.tip}}"> {{ e.title }} </button>
			{% endfor %}
		{% endif %}
		{% block body_form %}
		<table class="formtable">
		{{ form.as_table }}
		</table>
		{% endblock %}
		{% for k, formset in formlist.items %}
			<table id="{{ k }}" border="1">
				<caption> {{ k }} </caption>
				<tbody>
				{% for form in formset.forms %}
					<tr> <td> <table border="0">
					{{ form.as_table }}
					</table> </td> </tr>
				{% endfor %}
				</tbody>
			</table>
			{{ formset.management_form }}
			<script type="text/javascript">
				$(function() {
					$('#{{k}} > tbody > tr').formset({
						prefix: '{{ formset.prefix }}',
					});
				})
			</script>
		{% endfor %}
	</form>
	{% if example %}
		<script type="text/javascript">
			var json = {	{% for e in example %}
				'{{e.name}}': { {% for k, v in e.data.items %}
					'id_{{k}}': '{{v}}',	{% endfor %}
				}, {% endfor %}
			};
		</script>
	{% endif %}
{% endblock %}
