dt p	{ font-weight: bold; }
table {
    border-collapse: collapse;
    border: none;
}
td {
    border: 1px solid black;
    padding: 2pt;
}
#topmenu {
    background-color: #EBEFF9;
    display: table;
    width: 100%;
    text-align: center;
    border-top: 5px solid #EBEFF9;
}
#topmenu > div {
    display: table-cell;
    border-bottom: 1px solid #6B90DA;
    padding: 3px 1em;
    white-space: nowrap;
}
#topmenu div.active {
    border: 1px solid #6B90DA;
    border-bottom-color: white;
    background: white;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* gradient */
    background: -moz-linear-gradient(top, #EBEFF9, white);		/* Firefox 3.6+ Chrome 1-9, Safari 4-5 */
    background: -webkit-linear-gradient(top, #EBEFF9, white);	/* Chrome 10+ 4-5 */
    background: -o-linear-gradient(top, #EBEFF9, white);		/* Opera 11.10+ */
    background: -ms-linear-gradient(top, #EBEFF9, white);		/* IE 10 */
    background: linear-gradient(top, #EBEFF9, white);		/* CSS3 */
}
#topmenu a:link {
    color: blue;
}
#topmenu a:visited {
    color: blue;
}
button.rounded {
    border-radius: 10px;
	border: 2px outset;
}
button.none {
    background-color: Transparent;
    border: 1px solid lightgrey;
    border-radius: 7px;
    padding: 3px 8px;
    margin: 0;
    outline: none;
}
.even	{ background-color: white; }
.odd	{ background-color: #F0F0F0; }
.wide	{ width: 100%; }
.table	{ display: table; }
.row	{ display: table-row; }
.cell	{ display: table-cell; }
.center	{ text-align: center; }
.right	{ text-align: right; }
.bt	{ border-top: 1px solid black; }
.bb	{ border-bottom: 1px solid black; }
.bl	{ border-left: 1px solid black; }
.br	{ border-right: 1px solid black; }
.box	{ border: 1px solid black; }
.nobt	{ border-top: 0; }
.nobb	{ border-bottom: 0; }
.nobl	{ border-left: 0; }
.nobr	{ border-right: 0; }
.nobox	{ border: 0; }
.bold	{ font-weight: bold; }
div#legend {
    margin: auto;
    border: 1px solid lightgrey;
    // margin: 3pt;
    padding: 3pt;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: whitesmoke;
}
img.px16 {
    width: 16px;
    height: 16px;
}
img.px32 {
    width: 32px;
    height: 32px;
}
/*
a.delete-row {
    border: 1px solid lightgrey;
    background-color: red;
}*/
