{% extends "base.html" %}
{% block jsready %}
$("#tm_about").addClass("active");
{% endblock %}
{% block body_main %}
<p> Система предназначена для работы с регламенированными документами - создание, изменение, печать. <br/>
Система разработана гибкой, с возможностью лёгкого подключения любого количества шаблонов. <br/>
Поддерживает печать как "мягких" документов (в достаточно свободной форме) - так и "жестких" (для сканирования, текст имеет жесткие координаты). <br/>
<br/> Работает в трех режимах: </p>
<dl>
 <dt> <p> Демо </p> </dt> <dd> <p> для <em> незарегистрированных </em> пользователей - позволяет <em> заполнить </em> шаблон и тут же <em> распечатать </em> итоговый документ. </p> </dd>
 <dt> <p> Стандартный </p> </dt> <dd> <p> для <em> зарегистрированных </em> пользователей = Демо + <em> сохранение </em> и <em> редактирование </em> документов. </p> </dd>
 <dt> <p> Расширенный </p> </dt> <dd> <p> платный = Стандартный + дополнительные функции. </p> </dd>
</dl>
<hr width="50%" align="left"/>
<p> Во <u> всех </u> режимах: </p>
<dl>
 <dt> <p> Справочники общие </p> </dt> <dd> <p> Общероссийские классификаторы, Банки, МИФНС, иное; заполнение форм из этих справочников. </p> </dd>
 <dt> <p> Проверка полей </p> </dt> <dd> <p> Проверка корректности заполнения таких данных, как ИНН, КПП, БИК, иное. </p> </dd>
 <dt> <p> Заказные шаблоны </p> </dt> <dd> <p> Создание новых шаблонов на заказ - уникальных для пользователя или общеупотребительных. Цена определяется отдельно для каждого шаблона. Можно даже оплатить вскладчину (если шаблон нужен более чем одному пользователю). </p> </dd>
</dl>
<p> В <u> Расширенном </u> режиме: </p>
<dl>
 <dt> <p> Сохранить как </p> </dt> <dd> <p> Копирование данных документа в новый документ (того же вида) - т.е. дублирование документов. </p> </dd>
 <dt> <p> Заполнить на основании </p> </dt> <dd> <p> Заполнение документа одного вида данными документа <em> другого </em> вида (где это возможно). </p> </dd>
 <dt> <p> Справочники личные </p> </dt> <dd> <p> Организации, Люди, Документы, Адреса; заполнение форм из этих справочников, сохранение данных форм в справочники. </p> </dd>
 <dt> <p> Печать пачки документов </p> </dt> <dd> <p> Печать нескольких сохраненных документов (любого типа) за раз. </p> </dd>
 <dt> <p> Заполнение комплекта документов </p> </dt> <dd> <p> Заполнение комплекта связанных документов в одной форме ввода. </p> </dd>
</dl>
<hr width="50%" align="left"/>
<p> Кроме того - для любителей поупражняться в HTML есть возможность заработать на создании новых шаблонов. </p>
<hr width="50%" align="left"/>
<p> Термины: </p>
<p> <em> Шаблон </em> (вид документа) - форма ввода данных + шаблон печатной формы (бланк). </p>
<p> <em> Документ </em> - Шаблон, заполненный данными. </p>
{% endblock %}
