{% if is_paginated %}
<span class="pagination" align="right">
	{% if page_obj.has_previous %}
		<input type="button" value="<<" title="Первая страница" onClick="window.location.href='?page=1'" style="cursor:pointer"/>
		<input type="button" value="<" title="Предыдущая страница" onClick="window.location.href='?page={{ page_obj.previous_page_number }}'" style="cursor:pointer"/>
	{% else %}
		<input type="button" value="<<" disabled/>
		<input type="button" value="<" disabled/>
	{% endif %}
	{{ page_obj.start_index }} - {{ page_obj.end_index }} / {{ paginator.count }}
	({{ page_obj.number }}/{{ paginator.num_pages }})
	{% if page_obj.has_next %}
		<input type="button" value=">" title="Следующая страница" onClick="window.location.href='?page={{ page_obj.next_page_number }}'" style="cursor:pointer"/>
		<input type="button" value=">>" title="Последняя страница" onClick="window.location.href='?page={{ paginator.num_pages }}'" style="cursor:pointer"/>
	{% else %}
		<input type="button" value=">" disabled/>
		<input type="button" value=">>" disabled/>
	{% endif %}
</span>
{% else %}
	({{ paginator.count }})
{% endif %}
